* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.link {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.hero {
  background-color: aqua;
}

.hero-text {
  text-align: center;
  height: 400px;
  margin: 0px auto;
  padding-top: 200px;
}

.slider {
  height: 200px;
  border: 1px solid tomato;
}

.buyer,
.seller {
  display: flex;
  margin-bottom: 50px;
  border: 1px solid tomato;
}

.pig {
  width: 100%;
}

.topseller {
  display: flex;
  justify-content: space-around;
}

.product {
  border: 1px solid tomato;
}

.product-listing {
  display: flex;
  justify-content: space-between;
}

footer {
  border: 1px solid tomato;
  height: 40vh;
  background-color: #ffff;
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.foot1 {
  margin-right: 70px;
  margin-top: 80px;
}

.foot1 ul {
  list-style: none;
}

.foot1 ul li a {
  text-decoration: none;
  color: #000;
}
